@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Silkscreen&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* common */
*{
    padding: 0;
    margin: 0;
    font-family: silkscreen;
}

body{
    background-color: #1B1533;
    color: white;
}

nav{
    background-color: #1B1533;
    padding:1rem ;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px #00eeff;
}

nav > section{
    display: flex;
}

nav > section > h1{
    padding: .5rem 0 0 1rem;
}

nav > ul >section{
    list-style-type: none;
    display: flex;
    justify-content:center;
}

.navbtn{
    border: #08ceff solid .1rem;
    border-radius:1.2rem 0 0 1.2rem;
    border-color: #08ceff solid 1px;
    background: #1B1533;
    color: white;
    padding: 0.45rem 1.65rem .65rem .85rem;
    transition-duration: 0.3s;
    margin: 0 0 0 -1.2rem;
}

.navbtn:hover{
    background-color: #08ceff;
    box-shadow: 0 0 10px#08ceff;
    color: black;
}

.navbtn-cur{
    border: #08ceff solid .1rem;
    border-radius:1.2rem 0 0 1.2rem;
    border-color: #08ceff solid 1px;
    background: #08ceff;
    box-shadow: 0 0 10px#08ceff;
    color: black;
    padding: 0.45rem 1.65rem .65rem .85rem;
    margin: 0 0 0 -1.2rem;
}

footer{
    border-top: 1px solid white;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: #0f0a22;
    box-shadow: 0 0 10px #00eeff;
}

footer > section {
    display: flex;
    justify-content: space-evenly;
    
}

footer > section > a{
    color: white;
    text-decoration: none;
    transition-duration:0.3s;
    padding: 0 0 1rem 0;
}

footer > section > a:hover{
    text-shadow: 0 0 15px #00eeff;
    transition-duration:0.3s;
    transform: scale(1.15);
}


/* index page */


/* For Mobile Phone */
@media (max-width:480px) {
    nav{
        display:block;
        padding: 5% 0% 5% 0;
    }

    nav>h1{
        padding-bottom: 8%;
    }

    nav>section{
        display: flex;
        justify-content: center;
        padding: 0 0 1rem 0;
    }

    footer{
        padding: 1rem 1% 1rem 1%;
    }
}